body {
  background-color: #0f1131;
  color: #efeaff;
}

a {
  text-decoration: none;
  color: #efeaff;
}

header {
  /*background-color: #b2b4d8;*/
  padding: 10px;
  text-align: center;
}
/*MENU*/
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px 20px;
}

.menu li {
  margin: 0 10px;
}
/*proposito y animacion de imagenes principales*/
.acerca-de-nosotros {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  /*background-color: #b2b4d8;*/
  justify-content: space-around;
  align-items: center;
}
.acerca-de-nosotros-texto {
  font-size: 46px;
  text-align: left;
  height: fit-content;
}
.acerca-de-nosotros-texto h1 {
  margin: 0;
}
.acerca-de-nosotros-texto p {
  margin: 0;
}
.acerca-de-nosotros-imagen {
  /*padding: 20px;*/
  max-width: 100%;
  height: auto;
}

.recursos-e-instituciones {
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
/* Article Padre Estructura de Contenedores de recursos e instituciones */
.contenedores-recursos {
  border: 1px solid #efeaff;
  margin: 0 20px;
  width: 450px;
  height: 200px;
}
/* Div Hijo Contenedor que contiene la imagen y el texto */
.contenedor-de-recursos-img-y-texto {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(28, 108, 179);
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0px;
}

/* hijo div que contiene a la imagen */
.img-recursos {
  width: 40%;
  height: 100%;
  overflow: hidden;
}
/* La imagen dentro de su caja */
.img-recursos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/* hijo div que contiene al texto */
.txt-recursos {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(201, 80, 33);
  overflow: hidden;
  padding: none;
}
.txt-recursos h2 {
  font-size: 25px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.txt-recursos p {
  margin-top: 0;
  padding-top: 0;
}

/* Footer */
footer {
  /* background-color: #b2b4d8;*/
  padding: 10px;
  text-align: center;
}
