* {
  /*Elimina el espacio blanco por defecto alrededor del <body> y de elementos*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0f1131;
  color: #efeaff;
}
a {
  text-decoration: none;
  color: #efeaff;
}
/*padre de navbar*/
header {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 105px;
  border-bottom: 1px white solid;
}
/*padre de etiqueta ul*/
nav,
.contacto {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*logo en navbar y footer*/
.menu-img {
  width: 50%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  /*background-color: rgb(20, 102, 102);*/
}
.menu-img img,
.footer-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
/*contenedor de enlaces de menu*/
.menu {
  display: flex;
  justify-content: left;
  align-items: center;
  list-style: none;
  /*background-color: aqua;*/
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  gap: 10px;
  /*gap espacia cada li*/
}

.menu li,
.footer li {
  /*alinea los elementos del menú*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  /*width: 100% a cada li obliga a cada botón a estirarse y ocupar 
  todo el espacio disponible en la barra, empujando las palabras lejos unas de otras.*/
  height: 100%;
  padding: 0 15px;
  /*background-color: #8d8b00;*/
}

/*proposito y animacion de imagenes principales*/
.acerca-de-nosotros {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  /*background-color: #b2b4d8;*/
  justify-content: space-between;
  align-items: center;
  max-width: 4000px;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}
.acerca-de-nosotros-texto {
  font-size: 46px;
  text-align: left;
  height: fit-content;
}
.acerca-de-nosotros-texto h1 {
  margin: 0;
}
.acerca-de-nosotros-texto p {
  margin: 0;
}
.acerca-de-nosotros-imagen {
  /*padding: 20px;*/
  max-width: 100%;
  height: auto;
}

.recursos-e-instituciones {
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  padding-inline: none;
  margin: 0;
  /*background-color: #464bb3;*/
}
/* Article Padre con Estructura de Contenedores de recursos e instituciones */
.contenedores-recursos {
  border: 1px solid #efeaff;
  margin: 0 30px;
  width: 480px;
  height: 220px;
  /*background-color: #fffeea;*/
  /*debe tener un numero fijo para que los 
  hijos usen porcentajes de su padre*/
}
/* Div Hijo Contenedor que contiene la imagen y el texto */
.contenedor-de-recursos-img-y-texto {
  display: flex;
  justify-content: center;
  /*img y texto, uno al lado del otro*/
  height: 100%;
  /*100% del espacio del padre*/
  width: auto;
  margin: 0;
  padding: 0px;
}

/* hijo div que contiene a la imagen */
.img-recursos {
  width: 40%;
  height: 100%;
  overflow: hidden;
  /*lo que no quepa, lo oculta*/
}
/* La imagen dentro de su caja */
.img-recursos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/* hijo div que contiene al texto */
.txt-recursos {
  width: 60%;
  height: 100%;
  /*estructura para centrar el texto vertical y horizontalmente*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  /*background-color: rgb(201, 80, 33);*/
  overflow: hidden;
}
/*quito los espacios entre subtitulos y textos*/
.txt-recursos h2 {
  font-size: 25px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 10px;
  /*espacio izquierdo entre texto y img*/
}
.txt-recursos p {
  margin-top: 0;
  padding-top: 0;
  padding-left: 10px;
  /*espacio izquierdo entre texto y img*/
}

/* Footer */
footer {
  /*background-color: #b2b4d8;*/
  border-top: 1px white solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 150px;
  padding-top: 10px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  /*background-color: aqua;*/
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  gap: 10px;
  /*gap espacia cada li*/
}
.footer-img {
  width: (calc(100% / 3));
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  background-color: rgb(20, 102, 102);
}
/*titulo: ¿que estas buscando?*/
.subtitulo1 {
  /*background-color: azure;*/
  display: flex;
  padding: 50px;
  /*color: #0f1131;*/
  width: 100%;
  text-align: left;
  border-top: 1px solid white;
}
/*titulo: explora las oportunidades por provincia*/
.subtitulo2 {
  /*background-color: rgb(221, 129, 8);*/
  display: flex;
  justify-content: center;
  width: 100%;
  height:990px;
  padding-top: 50px;
  color: #0f1131;
  width: 100%;
  text-align: left;
  border-top: 1px solid white;
  padding-inline: 0;
}
.seccion-titulo-de-mapa{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  height:100%;
  /*background-color: aqua;*/
}
.seccion-titulo-de-mapa div{
  margin: 40px;
  background-color: bisque;
}
/*MAPA*/
.mapa{
  /*background-color: rgb(48, 92, 212);*/
  height: 100%;
  width: 60%;
}